<ul class="navbar-nav">
  <li *ngIf="currentUser.username.length === 0" class="nav-item">
    <a aria-current="page" class="nav-link active" routerLink="/authentication/login">Login</a>
  </li>
</ul>
<div *ngIf="currentUser.username.length > 0">
  <div fxLayout="row">
    <span class="navbar-text userInfo">{{currentUser.username}}</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="onLogout()" aria-current="page" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</div>
